<div class="col-xs-12 p-2 px-2 pb-2" style="border-bottom:1px solid #e1e1e1;">
    <!-- LIST ITEMS -->
    <div class="col-xs-10 p-2 px-0">
        <a class="f-roboto gruppo-operativo-<%= profiloutente.IDGruppoOperativo %>" href="/gruppi-operativi/<%= profiloutente.IDGruppoOperativo %>" data-idgruppooperativo="<%= profiloutente.IDGruppoOperativo %>">
            <%= profiloutente.ProfiloUtente %>
        </a>
    </div>
    <!-- RIGHT CONTEXT MENU -->
    <div class="col-xs-2 text-right p-0">
        <div class="btn-group">
            <button type="button" class="btn btn-light bi bi-three-dots-vertical rounded-circle"
                data-bs-toggle="dropdown" style="width:30px; height:30px; padding:0; font-size:1.25em;">
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end" style="width:250px;">
                <li>
                    <div class="col-xs-12">
                        <b class="gruppo-operativo-<%= profiloutente.IDGruppoOperativo %>"><%= profiloutente.ProfiloUtente %></b>
                    </div>
                </li>
                <li class="dropdown-item">
                    <hr class="dropdown-divider">
                </li>
                <li class="dropdown-item">
                    <button type="button" class="btn btn-light col-xs-12 gruppi-operativi-edit"
                        data-profiloutentetext="<%= profiloutente.ProfiloUtente %>"
                        data-profiloutenteid="<%= profiloutente.IDProfiloUtente %>"
                        data-gruppioperativoid="<%= profiloutente.IDGruppoOperativo %>">
                        Modifica
                    </button>
                </li>
                <li class="dropdown-item">
                    <button type="button" class="btn btn-light col-xs-12"
                        data-toggle="modal" data-target="#confirm-delete"
                        data-callback="DeleteGruppoOperativo"
                        data-args="<%= profiloutente.IDProfiloUtente %>"
                        data-profiloutentetext="<%= profiloutente.ProfiloUtente %>"
                        data-profiloutenteid="<%= profiloutente.IDProfiloUtente %>"
                        data-gruppioperativoid="<%= profiloutente.IDGruppoOperativo %>">
                        Elimina
                    </button>
                </li>
                <li class="dropdown-item">
                    <button type="button" class="btn btn-light col-xs-12"
                        data-toggle="modal" data-target="#confirm-delete"
                        data-callback="DeleteGruppoOperativo"
                        data-args="<%= profiloutente.IDProfiloUtente %>"
                        data-profiloutentetext="<%= profiloutente.ProfiloUtente %>"
                        data-profiloutenteid="<%= profiloutente.IDProfiloUtente %>"
                        data-gruppioperativoid="<%= profiloutente.IDGruppoOperativo %>">
                        Collega utenti
                    </button>
                </li>
                <li class="dropdown-item">
                    <button type="button" class="btn btn-light col-xs-12"
                        data-toggle="modal" data-target="#confirm-delete"
                        data-callback="DeleteGruppoOperativo"
                        data-args="<%= profiloutente.IDProfiloUtente %>"
                        data-profiloutentetext="<%= profiloutente.ProfiloUtente %>"
                        data-profiloutenteid="<%= profiloutente.IDProfiloUtente %>"
                        data-gruppioperativoid="<%= profiloutente.IDGruppoOperativo %>">
                        Autorizzazioni
                    </button>
                </li>
                <li class="dropdown-item">
                    <button type="button" class="btn btn-light col-xs-12">
                        Annulla
                    </button>
                </li>
            </ul>
        </div>

    </div>

</div>