<div class="col-xs-12 p-2 px-2 pb-2 item-bg">
    <!-- LIST ITEMS -->
    <div class="col-xs-8 p-2 px-0">
        <span class="c-base f-roboto profilo-utente-<%= profiloutente.IDProfiloUtente %>" data-idgruppooperativo="<%= profiloutente.IDGruppoOperativo %>">
            <%= profiloutente.ProfiloUtente %>
        </span>
    </div>
    <!-- RIGHT CONTEXT MENU -->
    <div class="col-xs-4 text-right p-0">
        <div class="btn-group action-tool-sub">
            <button type="button" class="btn btn-light bi bi-three-dots-vertical rounded-circle"
                data-bs-toggle="dropdown" style="width:30px; height:30px; padding:0; font-size:1.25em;">
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end" style="width:250px;">
                <li>
                    <div class="col-xs-12">
                        <b class="gruppo-operativo-<%= profiloutente.IDGruppoOperativo %>"><%= profiloutente.ProfiloUtente %></b>
                    </div>
                </li>
                <li class="dropdown-item">
                    <hr class="dropdown-divider">
                </li>
                <li class="dropdown-item">
                    <button type="button" class="btn btn-light col-xs-12 profilo-utente-<%= profiloutente.IDProfiloUtente %>-edit"
                        data-toggle="modal" data-target="#profilo-utente-modal"
                        data-profiloutentetext="<%= profiloutente.ProfiloUtente %>"
                        data-profiloutenteid="<%= profiloutente.IDProfiloUtente %>"
                        data-gruppioperativoid="<%= profiloutente.IDGruppoOperativo %>">
                        Modifica
                    </button>
                </li>
                <li class="dropdown-item">
                    <button type="button" class="btn btn-light col-xs-12 profilo-utente-<%= profiloutente.IDProfiloUtente %>-delete"
                        data-args="<%= profiloutente.IDProfiloUtente %>"
                        data-profiloutentetext="<%= profiloutente.ProfiloUtente %>"
                        data-profiloutenteid="<%= profiloutente.IDProfiloUtente %>"
                        data-gruppioperativoid="<%= profiloutente.IDGruppoOperativo %>">
                        Elimina
                    </button>
                </li>
                <li class="dropdown-item">
                    <button type="button" class="btn btn-light col-xs-12 profilo-utente-<%= profiloutente.IDProfiloUtente %>-risorse"
                        data-profiloutentetext="<%= profiloutente.ProfiloUtente %>"
                        data-profiloutenteid="<%= profiloutente.IDProfiloUtente %>"
                        data-toggle="modal" data-target="#profilo-utente-risorse-modal">
                        Utenti collegati
                    </button>
                </li>
                <li class="dropdown-item">
                    <button type="button" class="btn btn-light col-xs-12 profilo-utente-<%= profiloutente.IDProfiloUtente %>-autorizzazioni"
                        data-profiloutentetext="<%= profiloutente.ProfiloUtente %>"
                        data-profiloutenteid="<%= profiloutente.IDProfiloUtente %>"
                        data-toggle="modal" data-target="#processi-modal">
                        Autorizzazioni
                    </button>
                </li>
            </ul>
        </div>
        <div class="btn-group action-tool">
            <button type="button" class="btn btn-light bi bi-person-lock rounded-circle profilo-utente-<%= profiloutente.IDProfiloUtente %>-autorizzazioni"
                data-profiloutentetext="<%= profiloutente.ProfiloUtente %>"
                data-profiloutenteid="<%= profiloutente.IDProfiloUtente %>"
                data-toggle="modal" data-target="#processi-modal"
                style="width:30px; height:30px; padding:0; font-size:1.25em;">
            </button>
        </div>
        <div class="btn-group action-tool">
            <button type="button" class="btn btn-light bi bi-person-plus rounded-circle profilo-utente-<%= profiloutente.IDProfiloUtente %>-risorse"
                data-profiloutentetext="<%= profiloutente.ProfiloUtente %>"
                data-profiloutenteid="<%= profiloutente.IDProfiloUtente %>"
                data-toggle="modal" data-target="#profilo-utente-risorse-modal"
                style="width:30px; height:30px; padding:0; font-size:1.25em;">
            </button>
        </div>
    </div>
</div>