<tr>
    <td scope="col">
        <i class="bi bi-circle-fill" style="color: <%= ordine.ColoreStato %>" />
    </td>
    <td scope="col">
        <%= ordine.IdRecord %>
    </td>
    <td scope="col">
        <%= ordine.Istanziatore %>
    </td>
    <td scope="col">
        <%= ordine.DataRegistrazione %>
    </td>
    <td scope="col">
        <%= ordine.ConsegnaPrevista %>
    </td>
    <td scope="col">
        <%= ordine.Brand %>
    </td>
    <td scope="col">
        <%= ordine.NumeroOrdine %>
    </td>
    <td scope="col">
        <%= ordine.Categoria %>
    </td>
    <td scope="col">
        <%= ordine.DifficoltaLavorazione %>
    </td>
    <td scope="col">
        <%= ordine.UrgenzaLavorazione %>
    </td>
    <td scope="col">
        <%= ordine.Articolo %>
    </td>
    <td scope="col">
        <%= ordine.TotGiorniConsegnaArtwork %>
    </td>
    <td scope="col">
        <%= ordine.Stato %>
    </td>
    <td scope="col">
        <div class="container-workflow-<%= ordine.IdRecord %>"></div>
    </td>
</tr>