<div class="col-xs-12 p-3 m-0 event-workflow-history" style="border-bottom: 1px solid #ffffff;">
	<div class="data-workflow-history">
		<div class="col-xs-12 p-0">
			<span class="f-roboto-b"><%= flowhistory.DataRegistrazione %></span><span class="f-roboto">, <%= flowhistory.OraRegistrazione %></span>
		</div>
		<div class="col-xs-12 p-0">
			<span class="f-roboto text-secondary">
				<%= flowhistory.Istanziatore %>
			</span>
		</div>
	</div>
	<div class="stato-workflow-history">
		<span class="f-roboto"><%= flowhistory.Stato %></span>
		<% if (flowhistory.Note != "" && flowhistory.Note != undefined) { %>
			<div class="f-roboto p-3 px-1">
				<i class="bi bi-arrow-return-right">&nbsp;<%= flowhistory.Note %></i>
			</div>
		<% } %>
	</div>
	<i class="bi bi-circle-fill bullet-workflow-history" style="color: <%= flowhistory.ColoreStato %>"></i>
	<div class="divider-workflow-history"></div>
	<div class="durata-workflow-history text-right">
		<span class="f-roboto text-secondary">
			<% if (flowhistory.GiorniStato == null) { %>
				<span class="badge bg-danger">
					<% if (LanguageContext == "IT") { %>
                        Inizio
                    <% } %>
                    <% if (LanguageContext == "GB") { %>
                        Start
                    <% } %>
                    <% if (LanguageContext == "ES") { %>
                        Comenzar
					<% } %>
                    <% if (LanguageContext == "CN") { %>
                        開始
                    <% } %>
				</span>
			<% } else { %>
				<% if (eval(flowhistory.GiorniStato) > 0) { %>
					<%= flowhistory.GiorniStato %> 

					<% if (eval(flowhistory.GiorniStato) == 1) { %>
						<% if (LanguageContext == "IT") { %>
							giorno
						<% } %>
						<% if (LanguageContext == "GB") { %>
							day
						<% } %>
						<% if (LanguageContext == "ES") { %>
							d&iacute;a
						<% } %>
						<% if (LanguageContext == "CN") { %>
							天
						<% } %>
					<% } else { %>
						<% if (LanguageContext == "IT") { %>
							giorni
						<% } %>
						<% if (LanguageContext == "GB") { %>
							days
						<% } %>
						<% if (LanguageContext == "ES") { %>
							d&iacute;as
						<% } %>
						<% if (LanguageContext == "CN") { %>
							天
						<% } %>
					<% } %>

				<% } else if (eval(flowhistory.OreStato) > 0) { %>
					<%= flowhistory.OreStato %> 

					<% if (eval(flowhistory.OreStato) == 1) { %>
						<% if (LanguageContext == "IT") { %>
							ora
						<% } %>
						<% if (LanguageContext == "GB") { %>
							hour
						<% } %>
						<% if (LanguageContext == "ES") { %>
							hora
						<% } %>
						<% if (LanguageContext == "CN") { %>
							小時
						<% } %>
					<% } else { %>
						<% if (LanguageContext == "IT") { %>
							ore
						<% } %>
						<% if (LanguageContext == "GB") { %>
							hours
						<% } %>
						<% if (LanguageContext == "ES") { %>
							horas
						<% } %>
						<% if (LanguageContext == "CN") { %>
							小時
						<% } %>
					<% } %>

				<% } else { %>

					<%= flowhistory.MinutiStato %> 

					<% if (eval(flowhistory.MinutiStato) == 1) { %>
						<% if (LanguageContext == "IT") { %>
							minuto
						<% } %>
						<% if (LanguageContext == "GB") { %>
							minute
						<% } %>
						<% if (LanguageContext == "ES") { %>
							minuto
						<% } %>
						<% if (LanguageContext == "CN") { %>
							分鐘
						<% } %>
					<% } else { %>
						<% if (LanguageContext == "IT") { %>
							minuti
						<% } %>
						<% if (LanguageContext == "GB") { %>
							minutes
						<% } %>
						<% if (LanguageContext == "ES") { %>
							minutos
						<% } %>
						<% if (LanguageContext == "CN") { %>
							分鐘
						<% } %>
					<% } %>


				<% } %>
				&nbsp;<i class="bi bi-clock"></i>
				<% if (flowhistory.StatoFinale == "END") { %>
					<div class="col-xs-12 p-0 pt-3">
						<span class="badge bg-success">
							<% if (LanguageContext == "IT") { %>
								Fine
							<% } %>
							<% if (LanguageContext == "GB") { %>
								End
							<% } %>
							<% if (LanguageContext == "ES") { %>
								Fin
							<% } %>
							<% if (LanguageContext == "CN") { %>
								結尾
							<% } %>
						</span>
					</div>
				<% } %>
			<% } %>
		</span>
	</div>
</div>