<!-- TESTO ESTESO -->
<div class="col-xs-12 p-0 mb-2 px-3">
    <label for="control_<%= row.IDAttributo %>" class="col-form-label"><%= row.Description %></label>
    <textarea <% if (row.Obbligatorio) { %> required<% } %>
    rows="<%= row.NumeroRighe %>"
    data-idattributo="<%= row.IDAttributo %>"
    data-idtipodati="<%= row.IDTipoDati %>"
    class="form-control" id="control_<%= row.IDAttributo %>" 
    maxlength="<%= row.Lunghezza %>"></textarea>
</div>