<!DOCTYPE html>
<html>
<head>
    <title>
        Web APP DC - 
        <% if (LanguageContext == "IT") { %>
            Modifica Password
        <% } %>
        <% if (LanguageContext == "GB") { %>
            Password change
        <% } %>
        <% if (LanguageContext == "ES") { %>
            Cambio de contrase&ntilde;a.
        <% } %>
        <% if (LanguageContext == "CN") { %>
            更改密碼
        <% } %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); %>
    <script type="text/javascript" src="/utility-script"></script>
    <script type="text/javascript" src="/validation-script"></script>
    <script type="text/javascript" src="/password-edit-script"></script>
</head>
<body>
    <form name="frmPasswordEdit" method="post" action="/password-edit" class="was-validated" novalidate>
        <input type="hidden" name="LanguageContext" id="LanguageContext" value="<%= LanguageContext %>" />
        <div class="container">
            <div class="row pt-5" style="display:block;">
                <div class="col-lg-3 col-xs-0"></div>
                <div class="col-lg-6 col-xs-12">
                    <div class="login">
                        <div id="select-container" style="position:absolute; top:4px; left:46px; padding:16px;">
                          <ul>
                            <li data-target="edit" class="IT" lang-selection="IT" tooltip="IT" flow="down">
                              <img src="https://cdn.countryflags.com/thumbs/italy/flag-800.png">
                            </li>
                            <!--li data-target="edit" class="ES" lang-selection="ES" tooltip="ES" flow="down">
                              <img src="https://cdn.countryflags.com/thumbs/spain/flag-800.png">
                            </li-->
                            <!--li data-target="edit" class="CN" lang-selection="CN" tooltip="CN" flow="down">
                              <img src="https://cdn.countryflags.com/thumbs/china/flag-800.png">
                            </li-->
                            <li data-target="edit" class="GB" lang-selection="GB" tooltip="GB" flow="down">
                              <img src="https://cdn.countryflags.com/thumbs/united-states-of-america/flag-800.png">
                            </li>
                          </ul>
                        </div>
                        <div class="container-fluid cart-head">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                <img src="/images/password-recovery.png" class="img-fluid" />
                            </div>
                            <div class="col-xs-12 pt-3 px-3 p-5">
                                <div class="form-group">
                                    <label for="email">
                                        <% if (user.ActivePassword == 0) { %>
                                            <h4>
                                                <b><%= user.Nome %>&nbsp;<%= user.Cognome %></b>,
                                                <% if (LanguageContext == "IT") { %>
                                                    il primo accesso richiede la modifica della password.
                                                <% } %>
                                                <% if (LanguageContext == "GB") { %>
                                                    first login requires password change.
                                                <% } %>
                                                <% if (LanguageContext == "ES") { %>
                                                    el primer sesi&oacute;n requiere cambio de contrase&ntilde;a.
                                                <% } %>
                                                <% if (LanguageContext == "CN") { %>
                                                    首次登入需要更改密碼.
                                                <% } %>
                                            </h4>
                                        
                                        <% } else { %>
                                            <h3>
                                                <b>
                                                    <% if (LanguageContext == "IT") { %>
                                                        Modifica password
                                                    <% } %>
                                                    <% if (LanguageContext == "GB") { %>
                                                        Edit password
                                                    <% } %>
                                                    <% if (LanguageContext == "ES") { %>
                                                        Editar contrase&ntilde;a
                                                    <% } %>
                                                    <% if (LanguageContext == "CN") { %>
                                                        修改密码
                                                    <% } %>
                                                </b>
                                            </h3>
                                        <% } %>
                                    </label>
                                    <% if (error) { %>
                                        <div class="form-group form-errors p-0">
                                            <div class="panel panel-danger p-0">
                                                <div class="panel-heading p-1 px-3">
                                                    <i class="bi bi-exclamation-triangle"></i>
                                                </div>
                                                <div class="panel-body pnl-errors p-2 px-3">
                                                    <%= error %>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                    <%
                                    var placeholderActual;
                                    var placeholderNew;
                                    var placeholderConfirm;
                                    var securityRules;
                                    var securityRulesText;

                                    if (LanguageContext == "IT") {
                                        placeholderActual = "Password attuale"
                                        placeholderNew = "Nuova password"
                                        placeholderConfirm = "Conferma password"
                                        securityRules = "Regole di sicurezza"
                                        securityRulesText = "La password deve:<br><ul><li>Contenere una lettera minuscola</li><li>Contenere una lettera maiuscola</li><li>Contenere un numero</li><li>Contenere un carattere speciale</li><li>Essere lunga almeno 10 caratteri</li></ul>"
                                    }
                                    if (LanguageContext == "GB") {
                                        placeholderActual = "Actual password"
                                        placeholderNew = "New password"
                                        placeholderConfirm = "Confirm password"
                                        securityRules = "Security rules"
                                        securityRulesText = "Password must:<br><ul><li>Contain a lowercase letter</li><li>Contains a capital letter</li><li>Contain a number</li><li>Contain a special character</li><li>Be at least 10 characters long</li></ul>"
                                    }
                                    if (LanguageContext == "ES") {
                                        placeholderActual = "Actual"
                                        placeholderNew = "Nueva"
                                        placeholderConfirm = "Confirmar"
                                        securityRules = "Reglas de seguridad"
                                        securityRulesText = "La contrase&ntilde;a debe:<br><ul><li>Contiene una letra min&uacute;scula</li><li>Contienen una letra may&uacute;scula</li><li>contener un n&uacute;mero</li><li>Contienen un car&uacute;cter especial</li><li>Tener al menos 10 caracteres de longitud</li></ul>"
                                    }
                                    if (LanguageContext == "CN") {
                                        placeholderActual = "当前密码"
                                        placeholderNew = "新密碼"
                                        placeholderConfirm = "確認密碼"
                                        securityRules = "安全規則"
                                        securityRulesText = "密碼必須:<br><ul><li>包含一個小寫字母</li><li>包含大寫字母</li><li>包含一個數字</li><li>包含特殊字符</li><li>長度至少為 10 個字符</li></ul>"
                                    } 
                                    %>
                                    <div class="col-xs-12 p-3 px-0">
                                        <a class="btn btn-md btn-light" style="border-radius:20px;"
                                            data-bs-html="true"
                                            data-bs-toggle="tooltip" data-bs-placement="right"
                                            data-bs-custom-class="custom-tooltip"
                                            data-bs-title="<div class='text-left'><%= securityRulesText %></div>">
                                            <%= securityRules %>
                                        </a>
                                    </div>
                                    <div class="col-xs-12 p-3 px-0">
                                        <i class="btn bi bi-eye-slash-fill show-hide-password"></i>
                                        <input class="form-control input-lg" type="password" name="ActualPassword" id="ActualPassword" maxlength="20" required placeholder="<%= placeholderActual %>">
                                    </div>
                                    <div class="col-xs-12 p-3 px-0">
                                        <i class="btn bi bi-eye-slash-fill show-hide-password"></i>
                                        <input class="form-control input-lg" type="password" name="NewPassword" id="NewPassword" maxlength="20" required placeholder="<%= placeholderNew %>">
                                    </div>
                                    <div class="col-xs-12 p-3 px-0">
                                        <i class="btn bi bi-eye-slash-fill show-hide-password"></i>
                                        <input class="form-control input-lg" type="password" name="ConfirmPassword" id="ConfirmPassword" maxlength="20" required placeholder="<%= placeholderConfirm %>">
                                    </div>
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <h5 class="password-recovery-notice text-secondary">
                                        <% if (LanguageContext == "IT") { %>
                                            Per proteggere il tuo account, scegli una password sicura che non hai mai utilizzato, di almeno 10 caratteri.
                                        <% } %>
                                        <% if (LanguageContext == "GB") { %>
                                            To protect your account, choose a strong password you have never used, at least 10 characters long.
                                        <% } %>
                                        <% if (LanguageContext == "ES") { %>
                                            Para proteger su cuenta, elija una contrase&ntilde;a segura que nunca haya usado y que tenga al menos 10 caracteres de longitud.
                                        <% } %>
                                        <% if (LanguageContext == "CN") { %>
                                            为了保障账户安全，请设置安全性高的密码，密码长度至少10个字符
                                        <% } %>
                                    </h5>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 pt-3 p-4 px-0">
                                        <button type="submit" class="col-xs-12 btn btn-lg btn-primary">
                                            <% if (LanguageContext == "IT") { %>
                                                Conferma
                                            <% } %>
                                            <% if (LanguageContext == "GB") { %>
                                                Confirm
                                            <% } %>
                                            <% if (LanguageContext == "ES") { %>
                                                Confirma tu contrase&ntilde;a
                                            <% } %>
                                            <% if (LanguageContext == "CN") { %>
                                                确认
                                            <% } %>
                                        </button>
                                    </div>
                                    <% if (user.ActivePassword == 1) { %>
                                        <div class="col-xs-12 pt-3 p-4 px-0">
                                            <a href="/login" class="col-xs-12 btn btn-lg btn-light">
                                                <% if (LanguageContext == "IT") { %>
                                                    Indietro
                                                <% } %>
                                                <% if (LanguageContext == "GB") { %>
                                                    Back
                                                <% } %>
                                                <% if (LanguageContext == "ES") { %>
                                                    Paso anterior
                                                <% } %>
                                                <% if (LanguageContext == "CN") { %>
                                                    上一步
                                                <% } %>
                                            </a>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>